{% extends "base.html" %}
{% load i18n %}

{% block nav %}
{% include "printers/nav.html" %}
{% endblock %}

{% load bootstrap_toolkit %}
{% block content %}
<h3>Edit WebPage</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action={%url "page_edit" page.id %} method="POST">{% csrf_token %}
        <table>	
            {{ form|as_bootstrap }}
        </table>
        <p><button type="submit" class="btn primary">Save</button></p>
    </form>
{% endblock %}
