<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>Wscroll</string>
	<key>includeFiles</key>
	<array>
		<string>/Library/Server/Web/Config/apache2/httpd_wscroll.conf</string>
	</array>
	<key>installationIndicatorFilePath</key>
	<string>/Library/Server/Web/Data/webapps/wscroll.wsgi</string>
	<key>launchKeys</key>
	<array/>
	<key>name</key>
	<string>edu.loyno.smc.wscroll.webapp</string>
	<key>requiredModuleNames</key>
	<array>
		<string>wsgi_module</string>
	</array>
</dict>
</plist>
